.post {
  background-color: #f2f0f8;
  padding: 1.25rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.author {
  font-size: 1rem;
  font-weight: 700;
}
.title {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.description{
  font-size: 1.5rem;

}
