.post {
  background-color: cadetblue;
  border-radius: 16px;
  padding: 20px;
  text-decoration: none;
  color: black;
}
.title {
  font-size: 1.25rem;
  font-weight: 700;
}
.description {
  font-size: 1rem;
}
